body { background: #422fc2; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-shipping-0 { color: #ac41de; font-size: 15px; margin-bottom: 5px; }
.block-token-1 { color: #7cd962; font-size: 17px; margin-bottom: 5px; }
.block-search-2 { color: #a6a10f; font-size: 14px; margin-bottom: 5px; }
.block-logger-3 { color: #b0463d; font-size: 17px; margin-bottom: 5px; }
.block-notify-4 { color: #7dad87; font-size: 19px; margin-bottom: 5px; }